body{

    margin:0;

    background:linear-gradient(135deg,#ffd6e8,#fff7fb);

    font-family:Arial,sans-serif;

}

.container{

    width:500px;

    margin:100px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,0.2);

    text-align:center;

}

h1{

    color:#ff4d94;

}

button{

    background:#ff66a3;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:30px;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    background:#ff3d8a;

}

#message{

    margin-top:30px;

    font-size:20px;

    color:#444;

}